fastapi
uvicorn
python-multipart
pydantic
pydantic[email]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
starlette
pymongo
bcrypt
resend
sendgrid
jinja2
joblib
boto3
botocore
certifi
numpy
pandas
pillow
matplotlib
opencv-python
PyMuPDF
openai-whisper
python-docx
python-pptx
langchain_community
langchain-aws
langchain-chroma
langchain_experimental
chroma
langgraph
jq
requests-aws4auth
reportlab
seaborn
scikit-learn
ultralytics
xlrd
openpyxl
pdf2image
PyPDF2
langchain
pdfplumber
pyxlsb
imagehash
deep-translator
arabic-reshaper
beautifulsoup4
google-genai
google-auth
google-generativeai
langchain-core
langchain-google-vertexai
streamlit
requests
razorpay
python-dotenv
